.unifiedimport-dragzone {
  flex: 1;
  min-height: 50%;
  display: grid;
  place-content: center;
  text-align: center;
  border: 2px dashed #ffffff;
}

.unifiedimport-dragzone-activated {
  transition: border 0.3s;
  border: 2px dashed var(--COLOR_DARK_BLUE);
}

.unifiedimport-dragzone
  .wux-controls-toolbar-containers.wux-controls-toolbar-centerContainer {
  gap: 5px !important;
}

.unifiedimport-dragzone-slide {
  transition: 0.5s;
  left: -1000%;
}

.unifiedimport-dragzone-body {
  width: inherit;
  height: inherit;
  position: inherit;
  margin: auto;
  top: inherit;
  left: inherit;
  right: inherit;
  text-align: center;
}

.unifiedimport-dragzone-gridcontent {
  text-align: center;
}

.unifiedimport-dragzone-gridcontent-activated {
  pointer-events: none;
}

.unifiedimport-dragzone-dragehereicon {
  text-align: center;
  font-size: 3em !important;
  border-radius: 50%;
  margin-bottom: 20px;
  color: var(--COLOR_ICON_GRAY);
}

.unifiedimport-dragzone-dragehereicon-activated {
  transition: border 0.3s;
  color: var(--COLOR_DARK_BLUE);
}

.unifiedimport-dragzone-drageheretext {
  font-size: 1.3em;
  color: var(--COLOR_ICON_GRAY);
  max-width: 310px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.unifiedimport-dragzone-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #777;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: var(--COLOR_ICON_GRAY);
}

.unifiedimport-dragzone-divider::before,
.unifiedimport-dragzone-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.unifiedimport-dragzone-divider::before {
  margin-right: 10px;
}

.unifiedimport-dragzone-divider::after {
  margin-left: 10px;
}

.unifiedimport-dragzone-or {
  margin: 8px 0;
}

.unifiedimport-dragzone-drageheretext-activated {
  transition: border 0.3s;
  color: var(--COLOR_DARK_BLUE);
}

.unifiedimport-dragzone-input-file,
.unifiedimport-dragzone-input-folder {
  display: none;
}
