<div class="enx-position-matrix-tooltip1 {{className}}">
      <div class="enx-position-matrix-rotation1">
            <div class="enx-matrix-cell1">{{x1}}</div>
            <div class="enx-matrix-cell1">{{x2}}</div>
            <div class="enx-matrix-cell1">{{x3}}</div>
            <div class="enx-matrix-cell1">{{y1}}</div>
            <div class="enx-matrix-cell1">{{y2}}</div>
            <div class="enx-matrix-cell1">{{y3}}</div>
            <div class="enx-matrix-cell1">{{z1}}</div>
            <div class="enx-matrix-cell1">{{z2}}</div>
            <div class="enx-matrix-cell1">{{z3}}</div>
      </div>
      <div class="enx-position-matrix-translation1">
            <div class="enx-matrix-cell1">{{t1}}</div>
            <div class="enx-matrix-cell1">{{t2}}</div>
            <div class="enx-matrix-cell1">{{t3}}</div>
      </div>
</div>

